ARCH=arm64
BRANCH=oreo
CROSS_COMPILE=aarch64-linux-android-
DEFCONFIG=purez_marlin_defconfig
EXTRA_CMDS='python build/buildinfo/buildinfo.py'
KERNEL_DIR=private/msm-google
. ${ROOT_DIR}/${KERNEL_DIR}/build.config.common
POST_DEFCONFIG_CMDS="check_defconfig && compression_tool_and_files lz4"
EXTRA_CMDS='python build/buildinfo/buildinfo.py'
STOP_SHIP_TRACEPRINTK=1
